<section id="about">
  <div class="container">
    <div class="row">
      <div class="about-col-1">
        <img src="../../../assets/site/user.png" alt="Daniel" />
      </div>
      <div class="about-col-2">
        <h1 class="sub-title">About Me</h1>
        <p>
          I’m a motivated frontend developer. I can develop responsive websites
          from scratch and raise them into modern user-friendly web experiences.
          Transforming my creativity and knowledge into a website has been my
          long-lasting passion.
        </p>
        <div class="tab-titles">
          <p
            [ngClass]="{ 'active-link': selectLoad === 'skills' }"
            (click)="onSelect('skills')"
            class="tab-links active-link"
          >
            Skills
          </p>
          <p
            [ngClass]="{ 'active-link': selectLoad === 'education' }"
            (click)="onSelect('education')"
            class="tab-links"
          >
            Education
          </p>
        </div>
        <app-skills *ngIf="selectLoad === 'skills'"></app-skills>
        <app-education *ngIf="selectLoad === 'education'"></app-education>
      </div>
    </div>
  </div>
</section>
