@import '../../../styles/base/colors';

.footer {
    .copyright {
      width: 100%;
      text-align: center;
      padding: 25px;
      background: $dark;
      font-weight: 300px;
      margin-top: 20px;
    }
}
