<header>
  <div class="container">
    <nav>
      <img src="../../../assets/brand/logo-light.svg" class="logo" alt="logo" />
      <ul class="nav">
        <li><a (click)="toNavigate('about')">About</a></li>
        <li><a (click)="toNavigate('projects')">Projects</a></li>
        <li><a (click)="toNavigate('contact')">Contact</a></li>
        <fa-icon (click)="closeMenu()" [icon]="faTimes"></fa-icon>
      </ul>
      <ul *ngIf="openclose">
        <li><a (click)="toNavigate('about')">About</a></li>
        <li><a (click)="toNavigate('projects')">Projects</a></li>
        <li><a (click)="toNavigate('contact')">Contact</a></li>
        <fa-icon (click)="closeMenu()" [icon]="faTimes"></fa-icon>
      </ul>
      <fa-icon (click)="openMenu()" [icon]="faBars"></fa-icon>
    </nav>
    <div class="header-text">
      <p>Fullstack Developer</p>
      <h1>Hello, I'm <br class="display-br" /><span>Daniel</span>.</h1>
      <a (click)="toNavigate('projects')" class="btn">Click for my portfolio</a>
    </div>
  </div>
</header>
