<header>
  <div class="container">
    <nav>
      <img src="../../../assets/brand/logo.svg" class="logo" alt="logo" />
      <ul class="nav">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <fa-icon (click)="closeMenu()" [icon]="faTimes"></fa-icon>
      </ul>
      <ul *ngIf="openclose">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <fa-icon (click)="closeMenu()" [icon]="faTimes"></fa-icon>
      </ul>
      <fa-icon (click)="openMenu()" [icon]="faBars"></fa-icon>
    </nav>
    <div class="header-text">
      <p>Frontend Developer</p>
      <h1>Hello, I'm <span>Dani</span>.</h1>
    </div>
  </div>
</header>
