<section id="projects">
  <div class="container">
    <h1 class="sub-title">My Projects</h1>
    <div class="project-list">
      <div class="project-item">
        <img src="../../../assets/site/work-1.png" alt="" />
        <div class="layer">
          <h3>SPA - Angular</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            inventore quisquam quas error totam doloremque iste saepe fugiat,
            ipsa repellat?
          </p>
          <a href="#"><fa-icon [icon]="faLink"></fa-icon></a>
        </div>
      </div>
      <div class="project-item">
        <img src="../../../assets/site/work-2.png" alt="" />
        <div class="layer">
          <h3>Static Page - HTML, CSS, Js</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            inventore quisquam quas error totam doloremque iste saepe fugiat,
            ipsa repellat?
          </p>
          <a href="#"><fa-icon [icon]="faLink"></fa-icon></a>
        </div>
      </div>
      <div class="project-item">
        <img src="../../../assets/site/work-3.png" alt="" />
        <div class="layer">
          <h3>WordPress</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            inventore quisquam quas error totam doloremque iste saepe fugiat,
            ipsa repellat?
          </p>
          <a href="#"><fa-icon [icon]="faLink"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
</section>
