<section id="projects">
  <div class="container">
    <h1 class="sub-title">My Projects</h1>
    <div class="project-list">
      <div class="project-item">
        <img src="../../../assets/site/natural.png" alt="" />
        <h3>techSHOP</h3>
        <h5>Webshop - Fullstack API project</h5>
        <p>Express.js, MongoDB, Angular with custom Bootstrap design</p>
        <h5>Login infos:</h5>
        <ul>
          <li>user: <em>admin@admin.hu</em></li>
          <li>password: <em>admin123</em></li>
        </ul>
        <div class="social-icons">
          <a href="https://echo-angular-project.web.app/" target="_blank"
            ><fa-icon [icon]="faLink"></fa-icon
          ></a>
          <a href="https://github.com/dsagi727/ChalkWars" target="_blank"
            ><fa-icon [icon]="faCode"></fa-icon
          ></a>
        </div>
      </div>
      <div class="project-item">
        <img src="../../../assets/site/ChalkWars.png" alt="" />
        <h3>Chalk Wars</h3>
        <h5>School Platform - Frontend Angular project</h5>
        <p>
          Angular with custom Bootstrap design and Firbase backend(Firestore,
          Authentication, Hosting)
        </p>
        <h5>Login infos:</h5>
        <ul>
          <li>user: <em>admin@admin.hu</em></li>
          <li>password: <em>admin123</em></li>
        </ul>
        <div class="social-icons">
          <a href="https://echo-angular-project.web.app/" target="_blank"
            ><fa-icon [icon]="faLink"></fa-icon
          ></a>
          <a href="https://github.com/dsagi727/ChalkWars" target="_blank"
            ><fa-icon [icon]="faCode"></fa-icon
          ></a>
        </div>
      </div>

      <div class="project-item">
        <img src="../../../assets/site/natural.png" alt="" />
        <h3>Webstar</h3>
        <h5>Website - Frontend Angular project</h5>
        <p>Angular with custom Bootstrap design and jwt authentication</p>
        <h5>Login infos:</h5>
        <ul>
          <li>user: <em>frontend@webstar.hu</em></li>
          <li>password: <em>s9@:8BpuC]*Q,e,A</em></li>
        </ul>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/sagi-daniel/" target="_blank"
            ><fa-icon [icon]="faLink"></fa-icon
          ></a>
          <a href="https://github.com/dsagi727" target="_blank"
            ><fa-icon [icon]="faCode"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
