<section id="projects">
  <div class="container">
    <h1 class="sub-title">My Projects</h1>
    <div class="project-list">
      <div class="project-item">
        <img src="../../../assets/site/ChalkWars.png" alt="ChalkWars" />
        <div class="layer">
          <h3>SPA <br /><strong>Angular Project</strong></h3>
          <h4>Angular, TypeScript, SCSS Firebase</h4>
          <p>
            This project is a fantasy Star Wars education platform with admin
            module and more...
          </p>
          <p>You can enter the admin page!!</p>
          <ul>
            <li>user: admin@admin.hu</li>
            <li>password: admin123</li>
          </ul>
          <a href="https://echo-angular-project.web.app/" target="_blank"
            ><fa-icon [icon]="faLink"></fa-icon
          ></a>
        </div>
      </div>

      <div class="project-item">
        <img src="../../../assets/site/NatGeo.png" alt="NatGeo" />
        <div class="layer">
          <h3><strong>Static Page Project</strong></h3>
          <h4>HTML, SCSS , JavaScript</h4>
          <p>This is a simple Static Page ...</p>
          <a
            href="https://dsagi727.github.io/static-page-natGeo/"
            target="_blank"
            ><fa-icon [icon]="faLink"></fa-icon
          ></a>
        </div>
      </div>

      <div class="project-item">
        <img src="../../../assets/site/Maxvalor.png" alt="ChalkWars" />
        <div class="layer">
          <h3><strong>WordPress Project</strong></h3>
          <h4>WordPress, HTML, CSS</h4>

          <a href="https://maxvalor.hu/" target="_blank"
            ><fa-icon [icon]="faLink"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
