@import '../../../styles/base/colors';

#projects {
  padding: 50px 0;
  background: $dark;

  @media only screen and (max-width: 600px){
    padding: 0;
  }

  .container{
    padding: 10px 10%;

    .sub-title{
      font-size: 60px;
      font-weight: 600;
      color: $light;

      @media only screen and (max-width: 600px){
        font-size: 40px;
      }
    }

    .project-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 40px;
      margin-top: 50px;

      .project-item{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        padding: 2em;
        line-height: 1.3em;
        background-color: $dark-gray;
        border-radius: 15px;

        &:hover {
          transition-duration: 1s;
          transform: scale(1.1);
          cursor: pointer;
        }

        img{
          width: 200px;
          height: 200px;
          object-fit: fill;
          border-radius: 15px;
          margin-bottom: 30px;
        }

        h3 {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        h5 {
          font-size: 18px;
          color: $gray;
          margin: 20px 0;
        }

        p {
          font-size: 16px;
          color: $gray;
        }

        li {
          font-size: 16px;
          color: $gray;
        }

        .social-icons{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 20px;
          grid-row-gap: 0px;
          margin-top: 30px;

          a{
            text-decoration: none;
            font-size: 30px;
            color: $blue;
            display: inline-block;
            transition: transform 0.5s;

            &:hover{
              color: $hover;
              transform: translateY(-5px);
            }
          }
        }

      }
    }
  }
}
