<div class="tab-contents">
  <ul>
    <li>
      <ul>
        <li><span>Frontend</span></li>
        <li>HTML, CSS, SCSS</li>
        <li>JavaScript, TypeScript</li>
        <li>Angular, Vue.js</li>
      </ul>
    </li>
    <li>
      <ul>
        <li><span>Backend</span></li>
        <li>Node.js, Express.js, Java</li>
      </ul>
    </li>
    <li>
      <ul>
        <li><span>Databases</span></li>
        <li>SQL(MySQL), NoSQL(MongoDB), Firebase</li>
      </ul>
    </li>
    <li>
      <ul>
        <li><span>Other Frameworks</span></li>
        <li>Bootstrap, WordPress</li>
      </ul>
    </li>
  </ul>
</div>
