@import "../../../../styles/base/colors";

.tab-contents {
  ul li {
    display: block;
    list-style: none;
    margin: 20px 0;

    ul li {
      margin: 5px;
      padding: 0;
    }

    span {
      color: $blue;
    }
  }
}
