<div class="tab-contents">
  <ul>
    <li>
      <ul>
        <li><span>PROGmasters - Fullstack API Bootcamp</span></li>
        <li><small>2023</small></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><span>Dennis Gabor University - IT Engineer</span></li>
        <li><small>2021</small></li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <span
            >Agoston Trefort High School - Billingual Technical School
          </span>
        </li>
        <li><small>2011</small></li>
      </ul>
    </li>
  </ul>
</div>
