<div class="tab-contents">
  <ul>
    <li>
      <span>PROGmasters - Fullstack API Bootcamp</span> <br />
      <small>2023</small> <br />
    </li>
    <li>
      <span>PROGmasters - Frontend Bootcamp</span> <br />
      <small>2022</small> <br />
    </li>
    <li>
      <span>Dennis Gabor University - IT Engineer</span> <br />
      <small>2021</small> <br />
    </li>
    <li>
      <span>Agoston Trefort High School - Billingual Technical School </span>
      <br />
      <small>2011</small> <br />
    </li>
  </ul>
</div>
